.hero {
    min-height: 50vh;
    background: #fff url("/static/kontak/img/bannerr.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.507) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-content {
    position: absolute;
    bottom: 100px;
    color: #fff;
}

nav {
    font-size: 17px;
}

body {
    font-family: 'Raleway';
}

hr {
    padding: 0px;
    margin: 0px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: -5px;
    right: 80px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000000b0;
    color: white;
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    border-radius: 4px;

}

#myBtn:hover {
    background-color: #0099ff;
}